.roll20 {
  background-color: #f297f2;   
}

.fate {
  background-color:#3c93f7;
  text-align: center;
}

.fantasyGrounds{
  background-color:#fbe5c8;
}

.fate_paragraph {
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
  background-color:rgba(101, 172, 253, 0.979);
  text-align: left;
}

.characters {
  background-color:#fbe5c8;
}

.roll20_paragraph {
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
  background-color:rgba(197, 101, 253, 0.979);
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  border: solid;
}

.fate_pic {
  position:sticky;
  align-self: start;
  top:150px;
}

.terms {
  background-color: #fbe5c8;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

@media only screen and (min-width : 1001px){
  .item1 { grid-area: header; text-align: center; }
  .item2 { grid-area: menu; border-style: solid; align-self: start; position: sticky; top: 120px;}
  .item3 { grid-area: main; padding-left: 30px; padding-right: 10px;}
  .item4 { grid-area: right; padding-left: 10px; padding-top: 50px; }

  .grid-container {
    display: grid;
    grid-template-areas:
      'menu menu header header header header'
      'menu menu main main main right'
      'menu menu main main main right';
    gap: 5px;
    padding: 5px;
  }

  .grid-container > header, nav, section, aside, footer {
    padding: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  h1, h2, h3, h4, h5 {
    text-align: center;
  }
  
  .desktopNav {text-align: center;}

  .phoneNav {display: none;}
  p { font-size: 20pt;}
}

@media only screen and (max-width : 1000px){
  .item1 { grid-area: header; text-align: center; }
  .item2 { grid-area: menu; border-style: solid;}
  .item3 { grid-area: main;}
  .item4 { grid-area: right; padding-left: 10px; padding-top: 50px; }

  .grid-container > header, nav, section, aside, footer {
    padding: 20px 0;
    
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'menu menu  menu menu'
      'main main right right'
      'main main right right';
    gap: 5px;
    padding: 5px;
  }
  .desktopNav {
    display: none !important;
  }
  .item5 {
    display: none !important;
  }
  .phoneNav {
    text-align: center;
    display: block;
    font-size: 10pt;
    hyphens:auto;
  }

  p { font-size: 10pt; }
}